################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/xnotepad/.vs/xnotepad
/xnotepad/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/xnotepad/obj
/xnotepad/bin/Release
/xnotepad/bin/Release
/xnotepad/.vs/ProjectEvaluation
/NotesApp/bin/Debug
/NotesApp/.vs/NotesApp/v16
